*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(39, 39, 39);

}

.nav{
    width: 100%;
    height: auto;
}
 
.nav_img{
     width: 100%;
     height: auto;
}
 
.container{
     padding: 10px;
     margin: 0px auto;
     /* margin-top: 0px; */
     padding-top: 0px;
     width: 900px;
}
 
.innerContainer{
     padding-top: 10px;
     margin-top: 20px;
     padding-left: 25px;
     padding-right: 25px;
}

.splash
{
    background-color: rgb(235, 235, 235);
    text-align: center;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caps{
    text-transform: uppercase;
}

.form_section{
    margin-top: 10px;
    padding-top: 10px ;
}

.step{
    display: flex;
}

.step p{
    color: rgb(43, 43, 43);
}

.step-btn{
    /* float: left; */
    background-image: linear-gradient(rgb(101, 168, 255),rgb(108, 250, 255));
    color: white;
    padding: 4px 15px;
    border-radius: 3px;
    border: none;
    font-size: large;
    font-weight: bold;
    margin-right: 20px;
}

.main_section{
    margin-top: 20px;
    display: flex;
    margin: 0 auto ;
    padding: 10px 0;
    gap: 25px;
    /* background-color: rgb(235, 235, 235); */

}

.form_section{
    background-color: rgb(240, 240, 240);

}
.details{
    border-bottom: 1px dashed black;
    padding-bottom: 30px;
}
.form_feild{
    display: flex;
 
}

.form_feild{
    margin-top: 10px;
}

form label {
    padding: 4px;
    display: inline-block;
}

form input{
    padding: 3px;
     /* margin-top: 10px;  */
   
}
.form_label{
    width: 100%;
}
.section1{
    width: 35%;
    padding-left: 20px;
}
.moredetails{
    margin-top: 20px;
}

.shipping_btn{
    display: flex;
    border: 1px solid black;
    padding: 0;
    width: fit-content;
    margin: 0px auto;
}

.colorNum{
    display: flex; 
    justify-content: space-around;
     padding: 10px 0;
}
.suggestedPrice{
    margin: 10px 0;
}

.effects{
    margin: 20px 0;
  
}

.effects span{
    font-size: small;
}
 
.effect_list{
    width: fit-content;
    margin: 10px auto;
    border: 1px solid black;
    padding: 4px;
}

.effect_list ul{
    list-style: none;
}

textarea{
    width: 100%;
    margin : 20px 0;
    padding-left: 4px;
    height: 50%;
}

.browse_section{
    margin-bottom: 20px;
}
.browse{
    width:80%;
    margin: 20px 0;
}
.browse button{
    background-color: rgb(56, 56, 56);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
}

.browse input{
    padding: 5px;
    margin-right: 20px;
}


.browse_list{
    margin: 10px 0;
    width: fit-content;
}

.browse_section a{
    color: blue;
}

.btn_section{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    padding-top: 20px;
    gap: 20px;
}

.btn_section button{
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    background-color:#006699;
    color: white;
    font-size: medium;
}

footer{
    padding-top: 40px;
    padding-bottom: 0;
    
}
 footer a{
    color: rgb(100, 100, 100);
}

footer p{
    margin-bottom: 30px;
    color: rgb(100, 100, 100);
    font-size: small;
}

#para{
    color:rgb(100, 100, 100); 
    font-weight: 600;
}

footer span {
    font-family: 'PT Sans Narrow', sans-serif;
}

.icon{
    width: 15px;
    margin-right: 4px;
}

@media only screen and (max-width:  800px){
    
  
    .container{
        width:100%;
        margin:0;
        padding: 0;
    }

    .splash p{
        font-size: x-small;
    }
    .main_section{
        flex-direction: column;
    }
    .section1{
        width: 100%;
        padding-left: 0;
        /* text-align: center; */
        font-size:smaller ;
    }
    .form_feild{
        width: 70%;
    }

    .step{
        gap: 20px;
    }

    .step p{
        font-size: smaller;
    }

    .step-btn{
        font-size: smaller;
        font-weight: normal;
        width: 100%;
        padding: 4px 5px;
    }
    .innerContainer{
        padding: 0px;
        padding-left: 5px;
        padding-right: 10px;
    }
    /* .effect_list{
        margin: 10px 10px;
    } */
    .browse_list{
        display: flex;
    }

    footer p {
        font-size: small;
    }

    .btn_section button{
        font-size: smaller;
    }

    .browse button{
        font-size: small;
    }
}