*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.nav{
    width: 100%;
    height: 150px;
}

.nav_img{
    width: 100%;
    height: auto;
}

.container{
    padding: 10px;
    margin: 30px auto;
    margin-top: 0px;
    padding-top: 0px;
    width: 900px;
}

.innerContainer{
    padding-top: 10px;
    margin-top: 20px;
}
main{
    
    margin-bottom: 0;
}

.main{
    background-image: linear-gradient(rgb(170, 170, 170) , white);
    margin: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
   border: 1px dashed black;
}

.shipping{
    border-right: 1px dashed;
    padding-left: 20px;
    padding-top: 10px;
}

.head{
    padding-left: 10px;
    padding-top: 10px;
}
.billing{
    padding-left: 20px;
    padding-top: 10px;
}

.main_div{
    display: flex;
    
}

.main_div div{
    width: 100%;
}

 .check_form{
    /* text-align: right; */
    margin: 20px auto;
 
} 
/*
.lab label{
    margin-top: 12px ;
    display: inline-block;
}
.inp input{
    margin-top: 11px;
    padding: 2px;
}*/

.formFill{
    padding: 20px 0px;
    text-align: right;
    margin: 0 auto;
    width: fit-content;
}

.formFill label {
    
        margin-top: 12px ;
        display: inline-block;
        margin-right: 20px ;
    
}

.formFill input {
    padding: 2px;
}

span{
    font-size: small;
}
.shipping_options{
    border-top: 1px dashed black;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.shipping_btn{
    display: flex;
    border: 1px solid black;
    padding: 0 2px;
}

.shipping_options h2{
    display: inline;

}

button{
    padding: 0 20px;
    padding-right: 0;
    padding-bottom: 5px;
}

.prdt_bill{
    padding: 5px 10px;
}

table{
    text-align: center;
}

.tab{
    background-color: rgb(194, 194, 194);
    width: 100%;
    padding: 10px;
    
}

thead td{
    background-color: rgb(90, 90, 90);
    color: white;
    padding: 10px;
    text-transform: uppercase;
}

tbody td {
    padding: 10px;
}
.tab tr{
    height: 50px;
    
}

.pay_section{
    padding: 50px 10px;
    display: flex;
}

.pay_section div{
    width: 50%;
}

.qty , .price {
    font-weight: bold;
}

.pay-btn{
    width:100%;
   color: white;
   background-image: linear-gradient(rgb(48, 145, 236) , rgb(2, 91, 207));
   border: none;
   padding: 15px 0px;
   border-radius: 0.5rem;
   font-weight: 500;
   font-size: medium;
   text-transform: uppercase;
}



footer{
    padding-top: 40px;
    padding-bottom: 0;
    
}
 footer a{
    color: rgb(100, 100, 100);
}

footer p{
    margin-bottom: 30px;
    color: rgb(100, 100, 100);
    font-size: small;
}

#para{
    color:rgb(100, 100, 100); 
    font-weight: 600;
}

footer span {
    font-family: 'PT Sans Narrow', sans-serif;
}

.icon{
    width: 15px;
    margin-right: 4px;
}

