*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;}

.nav{
   width: 100%;
   height: auto;
}

.nav_img{
    width: 100%;
    height: auto;
}

.container{
    padding: 10px;
    margin: 0px auto;
    /* margin-top: 0px; */
    padding-top: 0px;
    width: 900px;
}

.innerContainer{
    padding-top: 10px;
    margin-top: 20px;
}

.main{
    display: flex;
}
.side{
    width: 30%;
    margin-right: 20px;
}

.categories{
    background-color: rgb(235, 235, 235);
}

.shop_info{
    background-color: rgb(235, 235, 235);
}
.side_head{
    font-size: medium;
    background-image: linear-gradient(rgb(250, 245, 245) , rgb(209, 209, 209));
    padding: 10px 20px ;
    color: rgb(122, 122, 122);
    font-weight: 600;
}



ul{
    padding: 40px 20px;
    list-style: none;
    
}
ul li{
    margin-top: 5px;
}
.categories a{
    color: blue;
}
.shop_info a {
    color: rgb(88, 88, 88);
}

.head{
    
    background-image: linear-gradient(rgb(127, 255, 165) , rgb(219, 255, 231) );
    padding:10px 20px  ;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.shop{
    width: 100%;
}

.prdt_list{
    padding: 20px;
    /* margin-top: 10px; */
    /* margin-bottom: 20px; */
}

span{
    font-style: italic;
    font-weight:lighter;
}
.prdt{
    background-color: rgb(235, 235, 235);
    display: flex;
    padding: 10px;
    gap: 10px;
    margin:  0 30px;
    margin-top: 3%;
    width: auto;
}

.prdt_title{
    color: rgb(122, 122, 122);
    font-weight: 600; 
    margin-bottom: 20px;
}


.price{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    
}

.price div{
    color: rgb(109, 166, 253);
    font-size: x-large;
    padding-right: 10px;
    border-right: 1px dashed rgb(103, 164, 255);
}

.price button {
    text-transform: uppercase;
    border-radius: 20px;
    padding: 0 10px ;
    border: none;
    background-color: rgb(94, 94, 94);
    color: white;
    font-weight: 600;
}

.nextPage{
    background-image: linear-gradient(rgb(127, 255, 165) , rgb(219, 255, 231)  );
    padding:10px 20px  ;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.search{
    margin: 30px 0;
    text-align: center;
}

.search button{
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 10px;
    background-color:rgb(84, 186, 255);
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}

.search input{
    padding: 10px 20px;

}


footer{
    padding-top: 40px;
    padding-bottom: 0;
    
}
 footer a{
    color: rgb(100, 100, 100);
}

footer p{
    margin-bottom: 30px;
    color: rgb(100, 100, 100);
    font-size: small;
}

#para{
    color:rgb(100, 100, 100); 
    font-weight: 600;
}
.prdt_img{
    width: 100%;
    height: auto;
}

footer span {
    font-family: 'PT Sans Narrow', sans-serif;
}

.icon{
    width: 15px;
    margin-right: 4px;
}

@media only screen and (max-width: 800px){
    .container{
        margin:0;
    }
}
